.card {
    width: 25vw;
    height: 30vh;
    /* border: 2px solid grey; */
    border-top-left-radius: 1vw; 
    border-top-right-radius: 1vw;
    /* padding-left: 2vw; */
    /* padding-top: 3vh;
    margin-top: 2vh;  */
    margin-left: 2vw;
    margin-bottom: 15vh;
    
}

.card:hover {
    transform: scale(1.05);
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

}

.sportname {
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
}

.title {
    display: flex;
    justify-content: center;
    margin: 4vh;
    font-size: 3vw;
    color: #130686;
}

.alllist {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 2.4vw;
    color: #130686;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .list{
        display: grid;
        grid-gap: 2vw;
        grid-auto-rows: minmax(100px, 225px);
    }
}

@media only screen and (max-width: 400px) {
    .list{
        display: grid;
        grid-gap: 2vw;
        grid-auto-rows: minmax(100px, 122px);
    }
}