.card {
    width: 25vw;
    height: 30vh;
    /* border: 2px solid grey; */
    border-top-left-radius: 1vw; 
    border-top-right-radius: 1vw;
    /* padding-left: 2vw; */
    /* padding-top: 3vh;
    margin-top: 2vh;  */
    margin-left: 2vw;
    margin-bottom: 15vh;
    
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.sportname {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    margin: 4vh;
    font-size: 3vw;
}

.alllist {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 4vw;
    color: black;
}

a {
    text-decoration: none;
}