
.card {
    width: 25vw;
    height: 30vh;
    /* border: 2px solid grey; */
    border-top-left-radius: 2vw; 
    border-top-right-radius: 2vw;
    /* padding-left: 2vw; */
    /* padding-top: 3vh;
    margin-top: 2vh;  */
    margin-left: 3.5vw;
    margin-bottom: 15vh;


    background: linear-gradient(white, rgb(80, 161, 236));
    transition:.2s;
    
    /* transform: rotatex(10deg) translatey(10px) translatex(10px); */
    box-shadow: 0px 10px 20px rgba(0,0,0, 0.5);

}

.card:hover {
    /* transform: scale(1.05); */

    transform: scale(0.9, 0.9);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
      /* transform: rotateY(360deg);
      -webkit-transform: rotateY(360deg);
      transition-duration: 1s;
      -webkit-transition-duration:1s; */

}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-row-gap: 8vh;

}

.sportname {
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
}

.title {
    display: flex;
    justify-content: center;
    margin: 4vh;
    font-size: 3vw;
    color: #130686;

}


.alllist {
    display: flex;
    justify-content: center;
    margin-top: 8vh;
}

h2 {
    font-size: 2.4vw;
    color: #130686;
}

a {
    text-decoration: none;
}


  

@media only screen and (max-width: 768px) {
    .list{
        display: grid;
        grid-gap: 2vw;
        grid-auto-rows: minmax(100px, 225px);
        grid-row-gap: 8vh;
    }
}

@media only screen and (max-width: 400px) {
    .list{
        display: grid;
        grid-gap: 2vw;
        grid-auto-rows: minmax(100px, 122px);
        grid-row-gap: 8vh;
    }

}