.nameinput {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2vh;
}

.input {
    margin-top: 1vh;
    font-family: Oswald-Medium;
    font-size: 16px;
    color: #43383e;
    line-height: 1.2;
    display: block;
    height: 4vh;
    background: #fff;
    border-radius: 31px;
    padding: 0 35px;
}

select {
    margin-top: 1vh;
    font-family: Oswald-Medium;
    font-size: 16px;
    color: #43383e;
    border-radius: 31px;
    padding: 0 35px;
    width: 30%;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 5px solid  rgb(22, 97, 168);
    outline: 5px solid rgb(255, 145, 0);
    /* border-radius: 3vh; */
    margin-bottom: 2vh;
    padding: 5vh;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 30vw;
   
}

.btn {
    background-color:  rgb(22, 97, 168);
    border-radius: 5vh;
    border: 2px solid rgb(255, 145, 0);
    width: 50%;
    align-self: center;
    height: 4vh;
    font-size: 1.5vw;
    color: white;

}

.toute {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.createevent {
    font-size: 5vw;
    color: rgb(22, 97, 168);;
    text-shadow:0 -1px 0 rgb(255, 145, 0), 0 -4px 0  rgb(22, 97, 168);;
    
}





