.searchbar {
    border: 3px solid blue;
    padding: 1vw;
    height: 3vh;
    outline: none;
    margin-left: 2vw;
    margin-bottom: -1vh;
}

.filterbartitle{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 8vh;
    margin-top: 5vh;
    color: #00008B;
    text-align: center;
    text-rendering: optimizeLegibility;

}

.filtersports {
    border: 3px blue solid;
    width: 15vw;
}

.allfilterbar {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#calendar-icon {
    height: 6vh;
}

.calendar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.datePicker{
    margin-left: 3vw;
}

.not-visible{
    visibility: hidden;
}
