#header {
    height: 8vh;
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
    background-color: lightblue;
}
=======
    background-color: white;
    align-items: center;
    box-shadow: 0px 1px 6px grey;
}

.navavatar {
    display: flex;
    margin-right: 1vw;
}

.navlink {
    display: flex;
    width: 35vw;
    justify-content: space-around;
}

.navlink a {
    color: black;
    text-decoration: none;
}

.navlink a:hover {
    color: royalblue;
}

.headeravatar {
    margin-left: 2vw;

}


>>>>>>> b35a4057e5ae4dde8f007d930b1e4e22097c651d
