.nameinput {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2vh;
}

.input {
    margin-top: 1vh;
    font-family: Oswald-Medium;
    font-size: 16px;
    line-height: 1.2;
    display: block;
    height: 7vh;
    border-radius: 31px;
    border-color:#00008B;
    padding: 0 35px;
}

.errMessage {
    color: red;
    font-size: 3vh;
    margin-top: 1vh;
    align-self: center;
   }

select {
    margin-top: 1vh;
    font-family: Oswald-Medium;
    font-size: 16px;
    color: #43383e;
    border-radius: 31px;
    padding: 0 35px;
    width: 36%;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    padding: 5vh;
    margin-top: -5vh;
}

.parag {
margin-top: 3vh;
font-size: 3vh;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 30vw;
    margin-top: 1vh;
}

.btnupdateuser {
    background-color: rgb(22, 97, 168);
    border-radius: 5vh;
    width: 40%;
    align-self: center;
    height: 7vh;
    font-size: 2.5vw;
    color: white;
    margin-top: 4vh;
}

.btnupdateuser:hover {
    background-color: rgb(18, 56, 92);

}

.linkedit {
    display: flex;
    justify-content: center;
} 

.btn {
    background-color: rgb(22, 97, 168);
    border-radius: 5vh;
    width: 40%;
    align-self: center;
    height: 7vh;
    font-size: 2.5vw;
    color: white;
    margin-top: 4vh;
}

.btn:hover {
    background-color: rgb(18, 56, 92);
}


.btnok {
    background-color: rgb(22, 97, 168);
    border-radius: 5vh;
    width: 25%;
    align-self: center;
    height: 7vh;
    font-size: 2.5vw;
    color: white;
    margin-top: 4vh;
}



.toute {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.createevent {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 8vh;
    margin-top: 5vh;
    color: #00008B;
    text-align: center;
    text-rendering: optimizeLegibility; 
}


@media only screen and (max-width: 768px) {
    .form{
        display: grid;
        grid-gap: 2vw;
        grid-auto-rows: minmax(100px, 1000px);
        grid-row-gap: 8vh;
        margin-bottom: 6vh;
      
    }

    header {
        margin-bottom: -4vh;
    }

    .btn {
        background-color: rgb(22, 97, 168);
        border-radius: 5vh;
        width: 97%;
        align-self: center;
        height: 9vh;
        font-size: 4.5vw;
        color: white;
        margin-top: 4vh;
        margin-left: 9vw;
    }
    
}

@media only screen and (max-width: 400px) {
    .form {
        padding-left: 0vh;
        padding-top: 15vh;
        margin-top: 29vh;
        margin-bottom: -14vh;
        position: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .parag {
        margin-top: 3vh;
        font-size: 3vh;
        margin-bottom: 3vh;
        align-self: flex-end;
        }

    .btnok {
        background-color: rgb(22, 97, 168);
        border-radius: 5vh;
        width: 20vw;
        align-self: center;
        height: 7vh;
        font-size: 5vw;
        color: white;
        margin-left: 17vw;
        margin-top: 4vh
    }

    .all {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 31vw;
        margin-top: -35vh;
        justify-content: center;
    }

    .btn {
        background-color: rgb(22, 97, 168);
        border-radius: 5vh;
        width: 97%;
        align-self: center;
        height: 9vh;
        font-size: 4.5vw;
        color: white;
        margin-top: 4vh;
        margin-left: 16vw;
    }

    nav {
        margin-bottom: 2vh;
    }

    .btnupdateuser {
        background-color: rgb(22, 97, 168);
        border-radius: 5vh;
        width: 40%;
        align-self: center;
        height: 7vh;
        font-size: 6vw;
        color: white;
        margin-top: 4vh;
    }

    .createevent {
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
        font-size: 6vh;
        margin-top: 10vh;
        margin-bottom: -1vh;
        color: #00008B;
        text-align: center;
        text-rendering: optimizeLegibility;
    }

    .input {
        width: 50vw;
    }

    #sport {
        border: 3px #00008B solid;
    width: 50vw;
    margin-bottom: 1vh;
    height: 5vh;
    padding-left: 2vw;
    }

    select {
        margin-top: 1vh;
        font-family: Oswald-Medium;
        font-size: 16px;
        color: #43383e;
        border-radius: 31px;
        padding: 0 35px;
        width: 36%;
    }

}





