.nameinput {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2vh;
}

.input {
    margin-top: 1vh;
    font-family: Oswald-Medium;
    font-size: 16px;
    line-height: 1.2;
    display: block;
    height: 7vh;
    border-radius: 31px;
    border-color:#00008B;
    padding: 0 35px;
}

.errMessage {
    color: red;
    font-size: 3vh;
    margin-top: 1vh;
    align-self: center;
   }

select {
    margin-top: 1vh;
    font-family: Oswald-Medium;
    font-size: 16px;
    color: #43383e;
    border-radius: 31px;
    padding: 0 35px;
    width: 36%;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    padding: 5vh;
    margin-top: -5vh;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 30vw;
    margin-top: 1vh;
}

.btnupdateuser {
    background-color: rgb(22, 97, 168);
    border-radius: 5vh;
    width: 57%;
    align-self: center;
    height: 7vh;
    font-size: 2.5vw;
    color: white;
    margin-top: 4vh;
}
.linkedit {
    display: flex;
    justify-content: center;
} 

.btn {
    background-color: rgb(22, 97, 168);
    border-radius: 5vh;
    width: 57%;
    align-self: center;
    height: 7vh;
    font-size: 2.5vw;
    color: white;
    margin-top: 4vh;
}

.btn:hover {
    background-color: rgb(18, 56, 92);
}


.btnok {
    background-color: rgb(22, 97, 168);
    border-radius: 5vh;
    width: 25%;
    align-self: center;
    height: 7vh;
    font-size: 2.5vw;
    color: white;
    margin-top: 4vh;
}



.toute {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.createevent {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 8vh;
    margin-top: 5vh;
    color: #00008B;
    text-align: center;
    text-rendering: optimizeLegibility;

    
}


@media only screen and (max-width: 768px) {
    .form{
        display: grid;
        grid-gap: 2vw;
        grid-auto-rows: minmax(100px, 1000px);
        grid-row-gap: 8vh;
        margin-bottom: 6vh;
    }

    header {
        margin-bottom: -4vh;
    }

    .btn {
        background-color: rgb(22, 97, 168);
        border-radius: 5vh;
        width: 97%;
        align-self: center;
        height: 9vh;
        font-size: 4.5vw;
        color: white;
        margin-top: 4vh;
    }
    
}

@media only screen and (max-width: 400px) {
    .form {
    padding-left: 0vh;
    }

    .btn {
        background-color: rgb(22, 97, 168);
        border-radius: 5vh;
        width: 97%;
        align-self: center;
        height: 9vh;
        font-size: 4.5vw;
        color: white;
        margin-top: 4vh;
    }

    .input {
        width: 50vw;
    }

}





