* {
    box-sizing: border-box;
}

.eventdetails{
    display: flex;
    margin-top: 8vh;
    justify-content: space-evenly;
    
}

.details {
    font-size: 2vw;
    display: flex;
    flex-direction: column;
}

#localisation {
    text-align: center;
}


.eventdescr {
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 6vh;
    box-shadow: 10px 5px 5px grey;;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}

.googlemap {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}

.eventtitle {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-size: 3.5vw;
    margin-top: 2vh;
    margin-bottom: -2vh;
}

.adminbuttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top: 7vh;
}

.btndeleteevent {
    background-color: rgb(209, 16, 16);
    width: 8vw;
    display: flex;
    justify-content: center;
}

.btndeleteevent:hover {
    background-color:  rgb(175, 16, 16)
}

.btnjoinevent {
    background-color: rgb(6, 177, 74);
    width: 8vw;
    display: flex;
    justify-content: center;
}

.btnjoinevent:hover {
    background-color:  rgb(5, 145, 61);
}

.action-button
{
	position: relative;
    margin: 0px 10px 10px 0px;
    float: left;
	border-radius: 10px;
	font-size: 25px;
	color: #FFF;
    text-decoration: none;	
    margin-top: 2vh;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 0px solid;
}
.btnleaveevent {
    background-color: rgba(224, 157, 31);
    width: 8vw;
    display: flex;
    justify-content: center;
}

.btnleaveevent:hover {
    background-color: rgb(190, 133, 25);
}

.btneditevent {
    font-size: 1.2rem;
    background-color: orange;
    border-radius: 4vw;
    position: relative;
    float: left;
    margin-top: 1vh;
	border-radius: 10px;
	font-size: 25px;
	color: #FFF;
    text-decoration: none;
    width: 8vw;
    display: flex;
    justify-content: center;
}

.googlemap {
    margin-top: 3vh;
}

.googlemap > div > div {
    height: 40vh !important;
    width: 50vw;
}





@media only screen and (max-width: 500px) {
.btndeleteevent {
    background-color: rgb(209, 16, 16);
    width: 27vw;
    display: flex;
    justify-content: center;
}

.btnleaveevent {
    background-color: rgb(224, 157, 31);
    width: 27vw;
    display: flex;
    justify-content: center;
}

.btnjoinevent {
    background-color: rgb(6, 177, 74);
    width: 27vw;
    display: flex;
    justify-content: center;
}

.eventdetails{
    display: flex;
    margin-top: 8vh;
    justify-content: space-evenly;
    flex-direction: column;
    width: 94vw;
    
}

.eventdescr {
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 6vh;
    box-shadow: 10px 5px 5px grey;;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}
.details {
    font-size: 5vw;
    display: flex;
    flex-direction: column;
}

.eventtitle {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-size: 3.5vw;
    margin-top: 8vh;
    margin-bottom: -12vh;
}

#localisation {
    margin-top: 2vh;
    margin-bottom: 7vh;
    
}

.googlemap {
    margin-top: 3vh;
    padding-left: 0vw;

   
}

.googlemap > div > div {
    height: 20vh !important;
    width: 0vw;
    display: flex;
    justify-content: center;
    align-content: center;
    
}
}

