.cardOfevent {
    width: 25vw;
    height: 34vh;
    /* border: 2px solid grey; */
    /* border-radius: 1vw; */
    /* padding-left: 2vw; */
    padding-top: 3vh;
    margin-left: 2vw;
    margin-top: 2vh;
    position: relative;
    box-shadow: 8px 8px 4px rgba(80, 161, 236, 0.5);
    /* box-shadow: 8px 8px 4px rgba(0,0,139, 0.5); */

}

.ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    /* height: 15px; */
    width: 300px;
    white-space: nowrap;
}


.participantCard {
    border: 1px solid green;
    top: 25px;
    right: -50px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

 img {
    max-width: 100%;
    /* max-height: 100%; */
    /* margin-top: -2vh; */
}

.allcards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
    grid-auto-rows: minmax(100px, 319px);
    
}

.eventdate {
    display: flex;
    /* border-bottom: 5px solid black; */
    justify-content: center;
}

.separation {
    border-bottom: 3px solid black;
}

.information {
    padding-left:2vw;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
}

.allevents2 {
    display: flex;
    justify-content: center;
}

.seemore {
    /* width: 10vw;
    height: 8vh;
    border: 1px solid blue;
    color: white; */
    background-color: rgb(15, 157, 232);
    width: 8vw;
    display: flex;
    justify-content: center;
    /* border-radius: 2vw;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    position: relative; */
}

.seemore:hover {
    background-color: rgb(3, 113, 172);
}

.join {
    width: 10vw;
    height: 6vh;
    border: 1px solid orange;
    color: white;
    background-color: orange;
    border-radius: 2vw;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.seemoreandjoin {
    display: flex;
    margin-left: -2vw;
    margin-top: 1vh;
    justify-content: space-evenly;
    
}

.backimg {
    opacity: 0.25;
    position: absolute;
    margin-top: -2vh;
}

.creatorCard {
    margin-right: 4vh;
    margin-top: -1vh;
}

.participantCard {
    margin-right: 4vh;
    margin-top: -1vh;
}

/* Copié collé du ruban */

.corner-ribbon{
    width: 78px;
    /* background: #e43; */
    position: absolute;
    /* top: 25px;
    left: -50px; */
    text-align: center;
    /* line-height: 50px; */
    letter-spacing: 1px;
    color: #f0f0f0;
    /* transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); */
  }
  
  /* Custom styles */
  
  /* .corner-ribbon.sticky{
    position: fixed;
  } */
  
  .corner-ribbon.shadow{
    box-shadow: 0 0 3px rgba(0,0,0,.3);
  }
  
  
  .corner-ribbon.top-right{
    top: 25px;
    right: -50px;
    left: auto;
    /* transform: rotate(45deg); */
    transform: rotate(45deg);
  }
  
  /* Colors */
  
  .corner-ribbon.red{background: red;}
  .corner-ribbon.green{background: green;}



@media only screen and (max-width: 768px) {
    .allcards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2vw;
        grid-auto-rows: minmax(100px, 350px);
    }

    .backimg {
        opacity: 0.5;
        margin-top: -2vh;
    }

    .information {
        color: black;
        font-size: 2vw;
        font-weight: bold;
        position: relative;
        margin-top: 7vh;
        display: flex;
        flex-direction: column;
    }

    .seemoreandjoin {
        display: flex;
        margin-left: -2vw;
        margin-top: 1vh;
        justify-content: space-evenly;  
    }

    .seemore {
        background-color: rgb(4, 139, 230);
        width: 27vw;
    }


    
    .join {
        width: 22vw;
        height: 6vh;
        border: 1px solid orange;
        color: white;
        background-color: orange;
        border-radius: 2vw;
        font-size: 2.5vh;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .cardOfevent {
        width: 25vw;
        height: 120.4vh;
        padding-top: 3vh;
        margin-left: 2vw;
        margin-top: 2vh;
        position: relative;
    
    }


    .creatorCard {
        margin-right: 4vh;
        margin-top: -1vh;
    }
  }

  @media only screen and (max-width: 500px) {

    .cardOfevent {
        width: 84vw;
        height: 40vh;
        padding-top: 3vh;
        margin-left: 2vw;
        margin-top: 0vh;
        position: relative;
        
    }

    .allcards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2vw;
        grid-auto-rows: minmax(100px, 320px);
    }

    .backimg {
        opacity: 0.5;
        margin-top: 5.5vh;
    }

    .information {
        color: black;
        font-size: 4vw;
        font-weight: bold;
        margin-top:3vh;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .ellipsis{
        text-overflow: ellipsis;
        overflow: hidden;
        /* height: 15px; */
        width: 174px;
        white-space: nowrap;
    }

    .seemoreandjoin {
        display: flex;
        margin-left: -2vw;
        margin-top: 1vh;
        justify-content: space-evenly;
    }




}
