
  .logo {
      float: left;
  }

  .logo-uniquement {
    display: flex;
    align-items: center;
    margin-left: 1.4vw;
  }

  .logo-uniquement img {
    max-width: 100%;
    height: 5vh;
    margin-top: 1vh;
  }

  .logoContainer {
    display: flex;
    align-items: center;
  }

  .flex {
      display: flex;
  }

  .link:hover {
    /* border-bottom: 1px solid #fff; */
    /* border-bottom-width: 1px; */
    /* text-decoration: underline; */
    background-color: #fff;
    /* padding-top: 2vh; */
  }

   header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 6px rgb(80, 161, 236);
    /* background-color: rgb(80, 161, 236); */
    background: linear-gradient(white, rgb(80, 161, 236));
    }

    footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      box-shadow: 0px 1px 6px rgb(80, 161, 236);
      /* background-color: rgb(80, 161, 236); */
      background: linear-gradient(white, rgb(80, 161, 236));
      height: 12vh;
      margin-top: 12vh;
      align-items: center;
    }

  .Sportyfindname {
    font-size: 3vh;
    padding-right: 2vw;
  }

  .linkedinimg {
    width:2vw;
    height:4vh;
    margin-top: 1vh;
  }

  .linkedin {
    display: flex;
    align-content: center;
    /* padding-left: 40vw; */
  }

  .namelkdn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  
  .hamburger {
    height: 20px;
    width: 20px;
    padding: 20px;
    float: right;
    cursor: pointer;
    margin-top: 3vh;
  }
  .hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
  }
  .hamburger:after {
    content: "☰";
    display: block;
    width: 100%;
    height: 4px;
    margin-top: -13px;
    box-shadow: 0px 8px 0 #f3f3f3;
  }
  
.hamburgerAndAvatarContainer{
    display: flex;
}

  nav {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    clear:both;
    transition: max-height .3s cubic-bezier(0.63, 0, 0.25, 1);;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
  }
  nav li {
    display: block;
    margin: 0;
    text-align: center;
    
  }
  nav a {
    display: block;
    padding: .4em;
    color: #00008B;
    font-size: 2.2vh;
  }
  
  header input[type="checkbox"]:checked ~ nav {
    max-height: 250px;
  }
  
  header a:hover,
  header a:focus,
  header label:hover,
  header label:focus {
    background-color: none;
  }
  
  @media only screen and (min-width: 760px) {

    .hamburger {
      display: none;
    }
    nav {
      background: transparent;
      float: right;
      border: 0 !important;
      max-height: none;
    }
    nav ul, nav li, nav li a {
      display: inline-block;
    }
    nav a {
      display: inline-block;
      padding: 15px 1em;
    }

    .footer {
      width: 100%;
      box-shadow: 0px 1px 6px rgb(80, 161, 236);
      /* background-color: rgb(80, 161, 236); */
      background: linear-gradient(white, rgb(80, 161, 236));
      height: 12vh;
      margin-top: 12vh;
      align-items: center;
    }

  }
  
  .hidden {
    position: fixed;
    top: -100%;
    left: -100%;
  }


  @media only screen and (max-width: 500px) {

  .Sportyfindname {
    font-size: 2vh;
  }

  .linkedinimg {
    width: 7vw;
    height: 4vh;
    margin-top: 1vh;
}
  }


